body{
    background: rgb(31, 31, 34);
    background: linear-gradient(90deg, black 0%, rgba(32, 76, 76, 0.947) 100%);
}

.calculator-box {
    width: 100%;
    height: 400px;
    max-width: 300px; /* Set your preferred max-width for a square box */
    margin: 0 auto; /* Center the calculator box */
    background-color:  rgba(80, 108, 108, 0.947);
}
.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}


button{
    width: 50px;
    height: 50px;
    border-color: black;
    border-radius: 30%;
    cursor: pointer;
    border:1px solid #090909;
    background:linear-gradient(145deg,#111111,#353335);
    box-shadow: inset 1px 1px 3px #636363,
    inset -2px -2px 3px #141414;
    color: wheat;
    transition: all 0.1s ease-in;
}
.operatorbtn{
    border:1px solid #090909;
    background:linear-gradient(145deg,#000000,#242424);
    box-shadow: inset 1px 1px 3px #616161,
    inset -2px -2px 3px #000000;
    color: wheat;
}
.operatorbtn:active{
    border:2px solid #090909;
    background:linear-gradient(145deg,#000000,#242424c4);
    box-shadow: inset 1px 1px 3px #3d3d3d,
    inset -2px -2px 3px #000000;
    transform: scale(1);
    color: whitesmoke;
}
.equalBtn{
    border:1px solid #090909;
    background:linear-gradient(145deg,yellow, red);
    box-shadow: inset 1px 1px 3px #faa249,
    inset -2px -2px 3px #643301;
    color: wheat;
}
.equalBtn:active{
    border:2px solid #090909;
    background:linear-gradient(145deg,yellow,red);
    box-shadow: inset 1px 1px 3px #ff8c18,
    inset -2px -2px 3px #7c3f03;
    transform: scale(1);
    color: whitesmoke;
}

.allClearBtn{
    border:1px solid #090909;
    background:linear-gradient(145deg,#5e0909,rgb(11, 82, 144));
    box-shadow: inset 1px 1px 3px #ff5454,
    inset -2px -2px 3px #2e0000;
    color: wheat;
}
.allClearBtn:active{
    border:2px solid #090909;
    background:linear-gradient(145deg,#5e0909,rgb(11, 82, 144));
    box-shadow: inset 1px 1px 3px #ff2323,
    inset -2px -2px 3px #1b0000;
    transform: scale(1);
    color: whitesmoke;
   
}


.singleClearBtn{
    border:1px solid #090909;
    background:linear-gradient(145deg,#061402,yellowgreen);
    box-shadow: inset 1px 1px 3px #70ff4f,
    inset -2px -2px 3px #062200;
    color: wheat;
    font-size: 16px;
    
}
.singleClearBtn:active{
    border:2px solid #090909;
    background:linear-gradient(145deg,#061402,yellowgreen);
    box-shadow: inset 1px 1px 3px #50ff28,
    inset -2px -2px 3px #051d00;
    transform: scale(1);
    color: whitesmoke;
}
